version: '3'

services:

  customers:
    depends_on:
      - rabbitmq
    build:
      context: ./customers
      dockerfile: Dockerfile
    image: kovaro/microservice-customers
    container_name: customers
    ports:
      - 8001:8000

  customers:
    depends_on:
      - rabbitmq
    build:
      context: ./customers
      dockerfile: Dockerfile
    image: kovaro/microservice-customers
    container_name: customers
    ports:
      - 8002:8000

  billing:
    depends_on:
      - rabbitmq
    build:
      context: ./billing
      dockerfile: Dockerfile
    image: kovaro/microservice-billing
    container_name: billing
    ports:
      - 8003:8000

  warehouse:
    depends_on:
      - rabbitmq
    build:
      context: ./warehouse
      dockerfile: Dockerfile
    image: kovaro/microservice-warehouse
    container_name: warehouse
    ports:
      - 8004:8000

  aggregator:
    depends_on:
      - customers
      - billing
    build:
      context: ./aggregator
      dockerfile: Dockerfile
    image: kovaro/microservice-aggregator
    container_name: aggregator
    ports:
      - 8005:3000

  rabbitmq:
    image: rabbitmq:management-alpine
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
