app:
  name: warehouse
server:
  port: 8004
spring:
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest
warehouse:
  rabbitmq:
    queue: warehouse.queue
    exchange: shop.fanout
---
spring:
    profiles: docker
    rabbitmq:
      host: rabbitmq
server:
    port: 8000
